.content-section-container {
    position: relative;
  
    .nav-btn {
      display: none;
  
      @media (min-width: 600px) {
        display: flex;
        z-index: 10;
        position: absolute;
        color: white;
        border-radius: 50%;
        padding: 8px;
        width: 36px;
        height: 36px;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transform: translate(0, -50%); /* Ajustar solo en el eje Y para centrar verticalmente */
        border: none;
        &.left {
          left: 8px; /* Separación del borde izquierdo */
          top: 50%; /* Centrado vertical */
        }
  
        &.right {
          right: 8px; /* Separación del borde derecho */
          top: 50%; /* Centrado vertical */
        }
      }
    }
  }
  
    
    .content-section-widget-section {
      
      // position: relative;
      &.list {
        display: grid;
        // justify-content: center;
        gap: 24px;
        @media (min-width:800px) {
          justify-content: center;
        }
        
  
      }
    
      &.scroll {
        position: relative;
        display: flex;
      gap: 1rem;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
  
        -ms-overflow-style: none;
        scrollbar-width: none;
          padding: 8px 4px;
        &::-webkit-scrollbar {
          display: none;
        }
         /* Agrega un degradado solo en el lado derecho */
         mask-image: linear-gradient(to right, black 95%, transparent);
         -webkit-mask-image: linear-gradient(to right, black 95%, transparent);
         mask-repeat: no-repeat;
         mask-size: 100%;
         -webkit-mask-repeat: no-repeat;
         -webkit-mask-size: 100%;
         .widget{
           min-width: 15rem;
         }
         @media (min-width:48rem) {
           .widget{
             min-width: 18rem;
           }
         }
      }
    
      &.responsive {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        // grid-template-columns: (auto-fit,minmax(1fr, 400px));
        // gap: 1rem;
        .widget{
          flex: 0 0 100%;
          width: fit-content;
          
        }
        @media (min-width:800px) {
          // background-color: red;
          // justify-content: ;
          // gap: 0px 12px;
          .widget.link{
  
            // display: flex;
            // flex-wrap: wrap;
            // max-width: 120px;
            // width: fit-content;
            flex: none;
            // padding-left: 32px;
            // padding-right: 32px;
            // margin: 0;
            
          }
          .widget.post{
            margin-bottom: 24px;
          }
        }
        
  
      }
      
    }
    
    .content-title {
      display: flex;
      column-gap:0.75rem;
      // padding: 16px;
      // padding-left: 12px;
      align-items: center;
      margin-bottom: 1.5rem;
      .content-icon{
        display: flex;
        justify-content: center;
        height: fit-content;
        width: fit-content;
        padding: 8px;
        align-items: center;
        i {
          font-size: 1.2rem;
        }
        &.pill, &.rounded{
          border-radius: 50px;
          aspect-ratio: 1 / 1;
        }
        // &.rounded{
        //   border-radius: 8px;
        // }
        &.square{
          border-radius: 0;
        }
      }
      
    
      .title-section{
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
    