---
import HeaderProfile from '../components/HeaderProfile.astro';
import { getAllStyleProfiles, getActiveWidgets, getProfileByUsername } from '../utils/api';
import type { StylesProfile } from '../types/styles-profile';
import type { WidgetUnion } from '../types/widget';
import { type Profile } from '../types/profile';
import '../styles/global.scss'
// Extraemos el par치metro din치mico "username" de la URL
const { username } = Astro.params;

const profileResponse = await getProfileByUsername(username!);
const profile: Profile | null = profileResponse?.data || null;
const styles: StylesProfile | null = await getAllStyleProfiles(profile?.id!);
const widgets: WidgetUnion[] = await getActiveWidgets(profile?.id!);

console.log(profile, styles, widgets)
export const prerender = false; // Configuraci칩n din치mica
---

<html lang="es">
  <head>
    <title>{username}</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Renderiza el HeaderProfile con server:defer -->
    <HeaderProfile server:defer profile={profile!} widgets={widgets} styles={styles!} >
      <!-- Contenido de fallback mientras se carga el HeaderProfile -->
      <!-- <h2 slot="fallback">Cargando perfil...</h2> -->
    </HeaderProfile>
  </body>
</html>
