.timeline-container {
    padding: 0px;
  }
  
  .content-title {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    margin-bottom: 1.5rem;
    .icon-content{
        display: flex;
      justify-content: center;
      height: fit-content;
      width: fit-content;
      padding: 0.8rem;
      align-items: center;
      i {
        font-size: 1rem;
      }
      &.pill, &.rounded{
        border-radius: 50px;
        aspect-ratio: 1 / 1;
      }
      // &.rounded{
      //   border-radius: 8px;
      // }
      &.square{
        border-radius: 0;
      }

    }
   
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
  }

  .timeline-item {
    display: flex;
    margin: 0px 0;
    position: relative;
  }

  .marker {
    // position: absolute;
    // left: -20px;
    // top: 20px;
   i{
    font-size: 1rem;
   }
    .timeline-conector{
        height: 100%;
        width: 2px;
        justify-self: center;
    }
  }
  .timeline-item:last-child .marker .timeline-conector {
    height: 80%; 
  }

  .timeline-content {
    flex: 1;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 5px;
    
    @media (min-width:48rem) {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 2.5rem;
        .header-card{
            grid-column:  span 2;
            // grid-column: 1 / 3;
        }
        .content-card{
            grid-column:  span 3;
        }
        

    }
  }

  .header-card {
    display: flex;
        flex-direction: column;
        gap: 0.25rem;
  }

  .title-event {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.3rem;
  }

  .subtitle-event {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .content-time {
    display: flex;
            flex-wrap: wrap;
            font-size: 0.9rem;
            gap: 0.5rem;
            opacity: 0.8;
  }

  .content-card {
    margin-top: 10px;
  }

  .text {
    font-size: 1em;
    text-wrap: pretty;
  }

//   .current {
//     color: green;
//   }