---
// UserLayout.astro
import type { StylesProfile } from '../types/styles-profile';
import type { Profile } from '../types/profile';
import type { WidgetUnion } from '../types/widget';
import FloatingAd from '../components/FloatingAd.astro'
import '../styles/global.scss';
interface Props { 
  styles: StylesProfile;
  profile: Profile;
  widgets?: WidgetUnion[];
}
const { styles, profile } = Astro.props;

const getBackgroundStyle = (): string => {
  if (styles?.typeBackground === 'color') {
    return styles.backgroundColor || '#ffffff';
  }
  if (styles?.typeBackground === 'image') {
    return `url(${styles?.backgroundImage}) no-repeat center center / cover`;
  }
  if (styles?.typeBackground === 'gradient') {
    return styles.backgroundGradient || 'linear-gradient(to right, #fff, #000)';
  }
  return '#ffffff';
};
// styles.fontType
export const prerender = true;

---

<html lang="es">
  <head>
    <title>{profile?.name || 'Perfil'}</title>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body  >
            <div 
              class="content-router"
              style={`
                background: ${getBackgroundStyle()};
                color: ${styles?.fontColor};
                font-family: ${styles?.fontType};
                
                
                `}  
              >
              <div class="content-slot"
              style={
                `backdrop-filter: ${styles?.backgroundBlur ? 'blur('+ (styles?.blursize || 5) + 'px)' :'none' }; background-attachment: fixed;
               
                
                `
                
                }
              >
                <slot/>
              </div>
            </div>

    <FloatingAd></FloatingAd>
  </body>
</html>
<style>
  .content-router {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1; 
  }

  
  .content-slot {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
    overflow-y: auto; 
    overflow-x: hidden; 
  }

 
</style>
