---
// UserLayout.astro
import type { StylesProfile } from '../types/styles-profile';
import type { Profile } from '../types/profile';
import { WidgetUnion } from '../types/widget';
import FloatingAd from '../components/FloatingAd.astro'
interface Props {
  styles: StylesProfile;
  profile: Profile;
  widgets?: WidgetUnion[];
}
const { styles, profile } = Astro.props;

const getBackgroundStyle = (): string => {
  if (styles?.typeBackground === 'color') {
    return styles.backgroundColor || '#ffffff';
  }
  if (styles?.typeBackground === 'image') {
    return `url(${styles?.backgroundImage}) no-repeat center center / cover`;
  }
  if (styles?.typeBackground === 'gradient') {
    return styles.backgroundGradient || 'linear-gradient(to right, #fff, #000)';
  }
  return '#ffffff';
};
export const prerender = true;

---

<html lang="es">
  <head>
    <title>{profile?.name || 'Perfil'}</title>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <style is:inline >
        :root {
   
  }

  body {
    
  }
    </style>
  </head>
  <body class="test-layout" style={`background: ${getBackgroundStyle()}; color: ${styles.fontColor} `}>
    <slot/>
    <FloatingAd></FloatingAd>
  </body>
</html>
